<!-- Eduardo -->

  <h1>Sign Up</h1>
<div class="page-header">
</div>

<!-- <form action="/users/create" class="col-md-4">

  <div class="form-group">
    <label class="control-label">Enter a Login:</label>
    <input name="first_name" type="text" class="form-control input-md" placeholder="Login">
  </div>

  <div class="form-group">
    <label>Enter a Password:</label>
    <input name="password" type="text" class="form-control input-md" placeholder="Choose a password that you'll never remember">
  </div>


<div class = "form-group">
<input type="radio" name="profile" value="Client">Client
<input type="radio" name="profile" value="Salon"> Salon
</div>


  <button type="submit" class="btn btn-success btn-md">Sign Me Up!</button>
  or
  <%= link_to "Go Back", "/" %>
</form> -->

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited
      this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :Login %><br>
    <%= f.text_field :login %>
    </p>

<p>
    <%= f.label :Password %><br>
    <%= f.text_field :password %>
</p>

<p>
  <%= f.label :Profile %><br>
<%= select(:user, :profile, [['Client', "client"], ['Salon', "salon"]]) %>
</p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
