<!-- Eduardo -->

<%= form_for @salon do |f| %>
  <% if @salon.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@salon.errors.count, "error") %> prohibited
      this salon from being saved:</h2>
    <ul>
    <% @salon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :"Salon name" %><br>
    <%= f.text_field :salon_name %>
    </p>

  <p>
    <%= f.label :"Phone" %><br>
    <%= f.number_field :phone %>
</p>

  <p>
    <%= f.label :"Address" %><br>
    <%= f.text_area :address %>
</p>

  <p>
    <%= f.label :"email" %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
